.search-button {
    
}

.lemon {
    margin-left: 50%;
    height: 50%;
    width: 50%;
}

#magnifying-glass {
    display: inline-block;
}

.MuiSvgIcon-root-4 {
    line-height: 40em;
}

.search-obj {
    margin: 10px;
}

.search-bar {
    position: fixed;
    top: 50%;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
    display: inline;
}

.search-container {
    white-space: nowrap;
    display: inline-block;
}

.year-picker {
    display: inline-block;
}